<div class="dashboard-title">
  <h1>Dash Board</h1>
  <h5>Welcome <span>{{name}}</span></h5>
</div>

{{#if reviews}}
<table class="striped">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each reviews}}
    <tr>
      <td><a href="/reviews/{{_id}}">{{title}}</a></td>
      <td>{{formatDate createdAt "MMMM Do YYYY, h:mm:ss a"}}</td>
      <td><span class="dash-status">{{status}}</span></td>
      <td>
        <a href="/reviews/edit/{{_id}}" class="btn btn-float">
          <i class="fas fa-edit"></i>
        </a>
        <form action="/reviews/{{_id}}" method="POST" id="delete-form">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn red">
            <i class="fas fa-trash"></i>
          </button>
        </form>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p>You have not review</p>

{{/if}}